<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password - CANTEEN</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form method="POST" action="/forgot">
    <input type="email" name="email" placeholder="Enter your email"><br>
    <button type="submit">Send Code</button>
  </form>
</body>
</html>
